@{
    ViewData["Title"] = "Home Page";
}
<!-- <div class="text-center mt-5">
    <form class="d-flex" asp-controller="Search" asp-action="Search">
        <div class="input-group search-box">
            <select name="searchType" class="form-select">
                <option value="astronaut">Astronaut Name</option>
                <option value="rocket">Rocket Brand/Model</option>
                <option value="ticketType">Ticket Type</option>
            </select>
            <input type="text" class="form-control" name="keyword" placeholder="Search...">
        </div>
    </form>
</div> -->



<div>
    <div class="row c-border-bottom-5">
        <div class="col-xl-5 c-purple-bg top-sections-text-container pb-5">
            <div class="text-center mt-5 text-white top-sections-text">
                <h1>
                    Discover Space With
                </h1>
                <h1 class="font-nisa">NISA</h1>
                <p class="px-5 fs-5">
                    Browse these cool discoveries we have found in the universe.
                </p>
                <button class="btn btn-light rounded-pill">
                    View our discoveries
                </button>
            </div>
        </div>
        <div class="col-xl-7 ps-0">
            <img class="img-fluid w-100" src="~/ForDesign/FirstSectionBanner.png">
        </div>
    </div>

    <div class="row">
        <div class="col-xl-5 c-light-blue-bg top-sections-text-container pb-5">
            <div class="text-center mt-5 text-white top-sections-text">
                <h1>
                    Discover Space With
                </h1>
                <h1 class="font-nisa">NISA</h1>
                <p class="px-5 fs-5">
                    Browse these cool discoveries we have found in the universe.
                </p>
                <button class="btn btn-light rounded-pill">
                    View our discoveries
                </button>
            </div>
        </div>
        <div class="col-xl-7 ps-0">
            <img class="img-fluid w-100" src="~/ForDesign/SecondSectionBanner.png">
        </div>
    </div>
</div>

<h3 class="text-center my-5">BEST TICKETS</h3>

<div class="container">
    <div class="row text-light">

        <div class="col-lg-4 p-3">
            <div class="bg-dark w-100 h-100 rounded-3 p-1">
                <h2 class="fw-bold float-start c-text-gold">
                    VIP  
                    <i class="fa-solid fa-ticket"></i>
                </h2>
                <h2 class="float-end fst-italic">
                    <span class="c-text-gold">Gold</span>
                    Ticket
                </h2>
            </div>
        </div>

        <div class="col-lg-4 p-3">
            <div class="bg-dark w-100 h-100 rounded-3 p-1">
                <h2 class="fw-bold float-start c-text-gold">
                    VIP  
                    <i class="fa-solid fa-ticket"></i>
                </h2>
                <h2 class="float-end fst-italic">
                    <span class="c-text-gold">Gold</span>
                    Ticket
                </h2>
            </div>
        </div>

        <div class="col-lg-4 p-3">
            <div class="bg-dark w-100 h-100 rounded-3 p-1">
                <h2 class="fw-bold float-start c-text-gold">
                    VIP  
                    <i class="fa-solid fa-ticket"></i>
                </h2>
                <h2 class="float-end fst-italic">
                    <span class="c-text-gold">Gold</span>
                    Ticket
                </h2>
            </div>
        </div>

    </div>
</div>