@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <form class="d-flex" asp-controller="Search" asp-action="Search">
        <div class="input-group search-box">
            <select name="searchType" class="form-select">
                <option value="astronaut">Astronaut Name</option>
                <option value="rocket">Rocket Brand/Model</option>
                <option value="ticketType">Ticket Type</option>
            </select>
            <input type="text" class="form-control" name="keyword" placeholder="Search...">
        </div>
    </form>
</div>
