@{
    ViewData["Title"] = "Home Page";
}
<!-- <div class="text-center mt-5">
    <form class="d-flex" asp-controller="Search" asp-action="Search">
        <div class="input-group search-box">
            <select name="searchType" class="form-select">
                <option value="astronaut">Astronaut Name</option>
                <option value="rocket">Rocket Brand/Model</option>
                <option value="ticketType">Ticket Type</option>
            </select>
            <input type="text" class="form-control" name="keyword" placeholder="Search...">
        </div>
    </form>
</div> -->

<div class="row">
    <div class="col-md-5 bc-dark-blue">
        <div class="text-center mt-5 text-white">
            <h2>Hello</h2>
            <h5 class="px-5 fw-bold">
                Hello my Name is Dishni I'm Not Piece of Shit List of top 5 Piece of Shit number:1 Dishni
            </h5>
            <button class="btn btn-secondary rounded-3">
                Try it For Free
            </button>
        </div>
    </div>
    <div class="col-md-7 ps-0">
        <img class="img-fluid w-100" src="~/ForDsign/BackgroundImg.jpg" height="450px">
    </div>
</div>