@using NISA.DS.Utils.Enums
@using NISA.DS.Web.Models.Home
@model HomePageViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div class="row c-border-bottom-5">
        <div class="col-xl-5 c-purple-bg top-sections-text-container pb-5">
            <div class="text-center mt-5 text-white top-sections-text">
                <h1>
                    Discover Space With
                </h1>
                <h1 class="font-nisa">NISA</h1>
                <p class="px-5 fs-5">
                    Browse these cool discoveries we have found in the universe.
                </p>
                <button class="btn btn-light rounded-pill">
                    View our discoveries
                </button>
            </div>
        </div>
        <div class="col-xl-7 ps-0">
            <img class="img-fluid" src="~/ForDesign/FirstSectionBanner.png">
        </div>
    </div>

    <div class="row">
        <div class="col-xl-5 c-light-blue-bg top-sections-text-container pb-5">
            <div class="text-center mt-5 text-white top-sections-text">
                <h1>
                    Discover Space With
                </h1>
                <h1 class="font-nisa">NISA</h1>
                <p class="px-5 fs-5">
                    Browse these cool discoveries we have found in the universe.
                </p>
                <button class="btn btn-light rounded-pill">
                    View our discoveries
                </button>
            </div>
        </div>
        <div class="col-xl-7 ps-0">
            <img class="img-fluid" src="~/ForDesign/SecondSectionBanner.png">
        </div>
    </div>
</div>


<div class="c-light-yel-bg">
    <div class="text-center">

        <h2 class="pt-5 text-info">
            Search By Our Astronauts or Rockets
        </h2>

        <form class="d-flex p-5" asp-controller="Search" asp-action="Search">
            <div class="input-group search-box">
                <select name="searchType" class="form-select">
                    <option value="astronaut">Astronaut Name</option>
                    <option value="rocket">Rocket Brand/Model</option>
                    <option value="ticketType">Ticket Type</option>
                </select>
                <input type="text" class="form-control" name="keyword" placeholder="Search...">
            </div>
        </form>
    </div>
</div>

<h3 class="text-center mt-5">BEST TICKETS</h3>

<div class="container">
    <div class="row">
        <div class="ticket-card-container">



            @foreach (var trip in Model.Trips)
            {
                <div class="col-xl-3 mx-5">
                    <div class="mt-5 ticket-card">
                        <a asp-controller="Trips" asp-action="Details" asp-route-id="@trip.Id" class="text-decoration-none text-light">
                            <div class="bg-dark rounded-3 px-3">
                                <div class="clearfix">
                                    <h2 class="float-start c-text-gold">
                                        @trip.TicketType
                                        <i class="fa-solid fa-ticket"></i>
                                    </h2>
                                    <h2 class="float-end fst-italic">
                                        <span class="c-text-gold">Gold</span> Ticket
                                    </h2>
                                </div>
                                <div class="text-center mt-4">
                                    <img class="img-fluid" src="~/ForDesign/TicketGold.png">
                                </div>
                                <h1 class="text-center mt-3">
                                    ($)@trip.Price
                                </h1>
                            </div>
                        </a>
                    </div>
                </div>

            }
        </div>

    </div>
</div>

<div class="mt-5">
    <div class="row">
        <div class="col-xl-4 c-purple-bg top-sections-text-container pb-5">
            <div class="text-center mt-5 text-white top-sections-text">
                <h1>
                    About us
                </h1>
                <p class="px-5 fs-5">
                    Learn More About NISA and What Dose NISA do and Why It's Better Than NASA
                </p>
                <button class="btn btn-light rounded-pill">
                    Learn More
                </button>
            </div>
        </div>
        <div class="col-xl-8 ps-0">
            <img class="img-fluid" src="~/ForDesign//Background (1).png">
        </div>
    </div>
</div>

<h2 class="text-center mt-5">
    Our Rockets 
</h2>


<div class="mt-5">

    <div class="row">
        <div class="col-xl-6">
            <img class="img-fluid w-100" src="~/imgs/carusel-first.jpg" />
        </div>
        <div class="col-xl-6">
            <img class="img-fluid w-100" src="~/imgs/carusel-last.png" />
        </div>
    </div>
</div>