@model IEnumerable<NISA.DS.Web.Models.TripTypes.TripTypeViewModel>

@{
    ViewData["Title"] = "Ticket Type Search Results";
}

<div class="container">

    <h1>Ticket Type Search Results</h1>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Ticket)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ticket)
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>