html {
    font-size: 14px;
}

.nisa-logo {
    font-family: 'Nasa', sans-serif;
    padding-top: 7px;
}


@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    overflow-x: hidden;
}

.pointer {
    cursor: pointer;
}

.rating-stars:focus {
    outline: none !important;
}

.search-box {
    margin: auto;
    width: 50%;
}

    .search-box input {
        border-radius: 25px;
    }

    .search-box select {
        border-radius: 25px;
    }


.dropdown-menu {
    width: 5.5rem;
    min-width: 5rem;
}

.btn-logout {
    text-align: center;
    border-radius: 0;
}

.navbar-nav .dropdown-menu {
    position: absolute;
}


@media only screen and (min-width: 576px) {
    .float-suii {
        float: none !important;
    }
}

.ma-w50 {
    margin: auto;
    width: 50%;
}

.rating-dis-name-for {
    padding-top: 9px;
}

.top-sections-text-container {
    border-right: 5px solid #fff;
}

@media only screen and (max-width: 1199px) {
    .top-sections-text-container {
        border-right: none;
    }
}
.section1-background-img {
    background-image: src(../ForDsign/BackgroundImg..jpg);
}



.top-sections-text {
    padding-top: 130px;
    box-sizing: border-box;
}

@media only screen and (max-width: 1500px) {
    .top-sections-text {
        padding-top: 40px;
        box-sizing: border-box;
    }
}












/*Custom Reusable Classes*/

.font-nisa {
    font-family: 'Nasa', sans-serif;
    letter-spacing: 3px;
}

.c-purple-bg {
    background-color: #530a5a;
}

.c-light-blue-bg {
    background-color: #45c6ed;
}

.c-border-bottom-5 {
    border-bottom: 5px solid #fff;
}

.c-text-gold {
    color: #FFD700;
}