html {
    font-size: 14px;
}

body {
}

.nisa-logo {
    font-family: 'Nasa', sans-serif;
}


@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.pointer {
    cursor: pointer;
}

.rating-stars:focus {
    outline: none !important;
}

.search-box {
    margin: auto;
    width: 50%;
}

    .search-box input {
        border-radius: 25px;
    }

    .search-box select {
        border-radius: 25px;
    }

.width-50px {
    width: 50px;
}

.dropdown-menu {
    width: 5.5rem;
    min-width: 5rem;
}

.btn-logout {
    text-align: center;
    border-radius: 0;
}

.navbar-nav .dropdown-menu {
    position: absolute;
}


@media only screen and (min-width: 768px) {
    .float-suii {
        float: none !important;
    }
}