html {
    font-size: 14px;
}

body{
}

.nisa-logo {
    font-family: 'Nasa', sans-serif;
}


@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.pointer {
    cursor: pointer;
}

.rating-stars:focus {
    outline: none !important;
}

.search-box {
    margin: auto;
    width: 50%;
}

.search-box select {
    border-radius: 25px;
}

.search-box input {
    border-radius: 25px;
}
